*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#flex-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top: 1em;
}
#passwordField, #passwordOutput {
    margin-top: 1em;
    padding: 1rem;
    width: 80%;
    background-color: rgb(243, 234, 234);
    font-size: 3em;
}
.remove{
    display: none;
}